<%- include ('partials/header') %>

    <h1 class="text-center">Hello World</h1>
    <p>This is the home page.</p>
    <p>Welcome to the Game Log application!</p>

<%- include ('partials/footer') %>

