<%- include ('partials/header') %>

    <section class="">
    <h2 class="">Track, Rate & Review Your Games</h2>
    <p class="">
      Build your personal game library — log what you play, give scores, and keep your own notes.
    </p>
  </section>

<%- include ('partials/footer') %>

