<%- include ('partials/header') %>

    <section class="wrapper">
    <div class="hero"><h2 class="">Track, Rate & Review Your Games</h2></div>
    
    <div><p class="">
      Build your personal game library — log what you play, give scores, and keep your own notes.
    </p></div>
    
  </section>

<%- include ('partials/footer') %>

