<%- include('partials/header') %>

<section>
<div>
  <h1>Welcome back!</h1>

 
<!-- Makes POST request to /register route -->
<div class="form-container">
    <form action="/login" method="POST">
        <div>
            <label for="username" hidden>Username</label>
            <input class="input-field" type="text" placeholder="Username" id="username" name="username" required>
        </div>
       
        <div>
            <label for="password" hidden>Password</label>
            <input class="input-field" type="password" name="password" placeholder="Password" required>
        </div>

        <div>
            <button class="button register-btn" type="submit">Login</button>
        </div>
    </form>

    <div>
        <a href="/auth/google" class="google-btn">
        <img src="/images/google-icon.svg" alt="Google" />
        Sign in with Google
        </a>
    </div>

      
</div>
</section>

    <%- include('partials/footer') %>