<%- include ('partials/header') %>

    <section class="wrapper">
    <h2 class="">profile</h2>
    <p class="">
        Track, Rate & Review Your Games
    </p>
  </section>

<%- include ('partials/footer') %>